<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% if all_urls %}
        <ul>
            {% for url in all_urls %}
                <li>
                    <p>{{url.original_url}}</p>
                    <a href="{% url 'shortener:redirecting' url.short_code %}">{{url}}</a>
                    <form  action="{% url 'shortener:delete' url.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h4>No URL's available</h4>
    {% endif %}

    <form action="{% url 'shortener:index'%}" method="post">
        {% csrf_token %}
            <fieldset>
                <legend>Adding URL's</legend>
                    <label for="url">URL</label>
                <input type="text" name="given_url" id="url" placeholder="Enter the URL">
            </fieldset>
        <input type="submit" value="Add">
    </form>
</body>
</html>